<div class="movie-container">

 <div class="movie-info" id="<%= dom_id movie %>">
 
  <p class="movie-detail">
    <strong>Name:</strong>
    <%= movie.name %>
  </p>

  <p class="movie-detail">
    <strong>Synopsis:</strong>
    <%= movie.synopsis %>
  </p>

 <p class="movie-detail">
    <strong>Director:</strong>
    <%= movie.director %>
  </p>

  </div>
</div>