/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* application.css body */
 body{
    background-color: whitesmoke;
 }

/* application.css header */

 nav{
    background-color: blueviolet;
 }

 nav li{
    margin-left: 45px;
 }

 /* application.css form */
.custom-link {
    color:white; 
    text-decoration: none; 
    font-weight: bold;
  }
  

.custom-form {
   max-width: 400px;
   margin: 0 auto;
   padding: 20px;
   background-color: #f7f7f7;
   border: 1px solid #ccc;
   border-radius: 5px;
 }
 
 .error-message {
   color: red;
   margin-bottom: 15px;
 }
 
 .form-field {
   margin-bottom: 15px;
 }
 
 .form-field label {
   display: block;
   font-weight: bold;
 }
 
 .form-field input[type="text"],
 .form-field textarea {
   width: 100%;
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 5px;
 }
 
 .submit-button {
   text-align: center;
   margin-top: 15px;
 }
 
 .submit-button input[type="submit"] {
   background-color: blueviolet;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }
 
 .submit-button input[type="submit"]:hover {
   background-color: #0056b3;
 }
 

 /* application.css movie */
.movie-container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 30vh;
 }
 
 .movie-info {
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 5px;
   background-color: #f7f7f7;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   max-width: 400px;
 }
 
 .movie-detail {
   margin: 10px 0;
 }
 
 .movie-detail strong {
   font-weight: bold;
 }
 

  /* application.css serie */
.serie-container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 30vh;
 }
 
 .serie-info {
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 5px;
   background-color: #f7f7f7;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   max-width: 400px;
 }
 
 .serie-detail {
   margin: 10px 0;
 }
 
 .serie-detail strong {
   font-weight: bold;
 }

 

  /* application.css documentarfilm */
.documentaryfilm-container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 30vh;
 }
 
 .documentaryfilm-info {
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 5px;
   background-color: #f7f7f7;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   max-width: 400px;
 }
 
 .documentaryfilm-detail {
   margin: 50px 0;
 }
 
 .documentaryfilm-detail strong {
   font-weight: bold;
 }

 