
<div class="serie-container">
<div class="serie-info" id="<%= dom_id serie %>">


  <p class="serie-detail">
    <strong>Name:</strong>
    <%= serie.name %>
  </p>

<p class="serie-detail">
    <strong>Synopsis:</strong>
    <%= serie.synopsis %>
  </p>

  <p class="serie-detail">
    <strong>Director:</strong>
    <%= serie.director %>
  </p>

 </div>
</div>
