<div class="documentaryfilm-container">

<div class="documentaryfilm-info"  id="<%= dom_id documentary_film %>">

  <p class="documentaryfilm-detail">
    <strong>Name:</strong>
    <%= documentary_film.name %>
  </p>

 <p class="documentaryfilm-detail">
    <strong>Synopsis:</strong>
    <%= documentary_film.synopsis %>
  </p>

 <p class="documentaryfilm-detail">
    <strong>Director:</strong>
    <%= documentary_film.director %>
  </p>

 </div>
</div>