<div id="<%= dom_id documentaryfilm %>">
  <p>
    <strong>Name:</strong>
    <%= documentaryfilm.name %>
  </p>

  <p>
    <strong>Synopsis:</strong>
    <%= documentaryfilm.synopsis %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= documentaryfilm.director %>
  </p>

</div>
